/build
*.d
*.o
.deps
.dirstamp
stamp-h1
depcomp
/config.h
/config.h.in
/config.log
/config.status
configure
configure.scan
install-sh
/meshvisor
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
compile_commands.json